<form method="GET">
    <ul class="tags">
        <li class="tags__item">
            {% if 'breakfast' in tags %}
                <input type="checkbox" name="tag" value="breakfast" class="tags__checkbox tags__checkbox_style_orange" checked>
                <span class="tags__label">Завтрак</span>
            {% else %}
                <input type="checkbox" name="tag" value="breakfast" class="tags__checkbox tags__checkbox_style_orange">
                <span class="tags__label">Завтрак</span>
            {% endif %}
        </li>
        <li class="tags__item">
            {% if 'lunch' in tags %}
                <input type="checkbox" name="tag" value="lunch" class="tags__checkbox tags__checkbox_style_green" checked>
                <span class="tags__label">Обед</span>
            {% else %}
                <input type="checkbox" name="tag" value="lunch" class="tags__checkbox tags__checkbox_style_green">
                <span class="tags__label">Обед</span>
            {% endif %}
        </li>
        <li class="tags__item">
            {% if 'dinner' in tags %}
            <input type="checkbox" name="tag" value="dinner" class="tags__checkbox tags__checkbox_style_purple" checked>
            <span class="tags__label">Ужин</span>
            {% else %}
            <input type="checkbox" name="tag" value="dinner" class="tags__checkbox tags__checkbox_style_purple">
            <span class="tags__label">Ужин</span>
            {% endif %}
        </li>
        <li class="tags__item">
            <input type="submit" class="form__ingredient-link" value="Отфильтровать">
        </li>
    </ul>
</form>